name: Pull Request

on:
  pull_request:
  workflow_dispatch:

jobs:
  geth:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [linux/amd64]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
        with:
          platforms: ${{ matrix.arch }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build the Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: geth/Dockerfile
          push: false
          platforms: ${{ matrix.arch }}

  reth:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - arch: linux/amd64
            features: jemalloc,asm-keccak,optimism
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build the Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: reth/Dockerfile
          push: false
          build-args: |
            FEATURES=${{ matrix.features }}
          platforms: ${{ matrix.arch }}

  nethermind:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [linux/amd64]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build the Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: nethermind/Dockerfile
          push: false
          platforms: ${{ matrix.arch }}
